.input:focus {
  outline: none;
  background-color: rgba(214, 248, 255, 0.5);
}

.input {
  border: 2px solid #d1d1d1;
  border-radius: 5px;
  width: 276px;
  height: 36px;
  padding-left: 20px;

  font-family: Montserrat, sans-serif;
  font-size: 16px;
  font-weight: 500;
}

.inputWrapper {
  display: flex;
  flex-direction: column-reverse;
  position: relative;
}

.superInput {
}

.errorInput {
  border: 2px solid #cc0000;
}

.errorInput:focus {
  background-color: rgba(255, 229, 229, 0.5);
}

.error {
  font-family: Montserrat, sans-serif;
  font-size: 10px;
  color: #cc0000;
  position: absolute;
  top: -14px;
}
