.buttonsContainer {
  display: flex;
  flex-direction: row;
  gap: 26px;
}

.editableSpanContainer {
  color: #0080FF;
  font-family: Montserrat, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 19.5px;
  text-align: left;
  margin: 20px 0;
}