.friendMessage {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 30px;
}

.friendImageAndText {
  display: flex;
  align-items: flex-end;
  /*gap: 10px;*/
}

.friendImageAndText img {
  width: 48px;
  height: 48px;
}

.friendText {
  max-width: 510px;
  background-color: #f5f7fb;
  border-radius: 10px 10px 10px 0;
  padding: 10px;
}

.angle {
  width: 16px;
  height: 16px;
  background: linear-gradient(
    315deg,
    rgba(245, 247, 251, 1) 0%,
    rgba(245, 247, 251, 1) 50%,
    rgba(255, 255, 255, 1) 50%
  );
}

.friendText:after {
}

.friendName {
  font-family: Montserrat, sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.4em;
}

.friendMessageText {
  font-family: Montserrat, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  word-wrap: normal;
}

.friendTime {
  padding: 0 10px;
  font-family: Montserrat, sans-serif;
  font-size: 10px;
  font-weight: 600;
  line-height: 12px;
}
