.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  padding: 20px 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  box-shadow: 0 0 30px rgba(125, 125, 125, 0.5);
}

.burgerMenuIcon {
  cursor: pointer;
}

.header h1 {
  font-family: Montserrat, sans-serif;
  font-size: 24px;
  font-weight: 600;
}
